# Python Data Structures
- Ints and floats
- Str
- Lists
- Tuples
- Dictionaries
- Files

### Ints and Floats
- Depending upon the version of python use of behaviour of ints and floats can differ, we will be using python 3.6

In [ ]:
income=50000 

# #Declare a variable 
# Call up Value 
#Rs.50000 - 25 years
#Variable is specific and case sensitive

print(income)

Age= 25.5
print (Age)

In [ ]:
# We can know the type of the object by using the type() method
print (type(income))
print (type(Age))

In [ ]:
Income1=50000
Income2=75000
Avg = ((Income1+Income2)/2)
print(Avg)
print(type(Avg))

#Variables make code Reproducible

In [ ]:
print(Avg)

In [ ]:
print (float(Income1)/Income2)
print (type(float(Income1)/Income2))

# Strings and Booleans

In [ ]:
Course = "Data Science with Python"
print(type(Course))

In [ ]:
Learning = True
print(type(Learning))

In [ ]:
3+8

In [ ]:
'Data' + 'Science'

In [ ]:
#the + operator concatenates strings together, while the * concatenates multiple copies of a string together.
sample2 = 1 * 3
sample3 = "1" * 3

print(sample2)
print(sample3)

In [ ]:
#Different Types behave differents. Plus works differently on a integer vs. a string

In [ ]:
print("Sumit started with income of Rs." + Income1 + ". Gradually it was increased to Rs." + Income2)

In [ ]:
print("Sumit started with income of Rs." + str(Income1) + ". Gradually it was increased to Rs." + str(Income2) + (". Great!"))

In [ ]:
Income = "10000"
type(Income)

In [ ]:
NIncome = int(Income)
NIncome

# Lists

In [ ]:
#Income of a certain group

Income1 = 50000
Income2 = 75000
Income3 = 65000
Income4 = 45000
Income5 = 25000

Income = [Income1, Income2, Income3, Income4, Income5]
print(Income)

In [ ]:
Income = ["Sumit",50000,"Amit",75000,"Tina",65000,"Heena",45000,"Reena",25000]
Income

In [ ]:
#Lists can also contain Lists themselves
#Instead of putting strings between the number one can create sublists for each Income entry 

Income2 = [['Sumit',50000],
['Amit',75000],
['Tina',65000],
['Heena',45000],
['Reena',25000]]

Income2 #The main list contains 5 sub lists

In [ ]:
type(Income)
type(Income2)

In [ ]:
# Accessing Information from a List - Use Index

Income[5] #to access Income corresponding to Tina

#Zero Based Indexing

In [ ]:
#Slicing using :

#[start:end]

print(Income[2:6])
print(Income[:])
print(Income[2:])
print(Income[:2])

#Income of males 
Income[1] + Income[3]

In [ ]:
#Income of females
Income[-1] + Income[-3] + Income[-5]

In [ ]:
Income2[2][:]  #Accessing all elements from list of list

In [ ]:
#List Manipulations

Income[1] = 55000 #Change
Income

In [ ]:

Income[0:2] = ['Likhit',60000]  #Replacing elements
Income

In [ ]:
Income_add = Income + ['Sumit',50000] #Adding elements
Income_add

In [ ]:
del(Income_add[0:2])  #Deleting an element
Income_add

In [ ]:
# Create list Age
age = [11, 18, 20, 10, 9]

age_new = age
age_new

In [ ]:
age_new[1] = 24
age_new

In [ ]:
age   #Why is this happening?

In [ ]:
age_new

In [ ]:
age_final = age_new.copy()
age_final

In [ ]:
age_final[1] = 32
age_final

In [ ]:
age_new

In [ ]:
age_final = age_new[:]
print(age_final)
age_final[1] = 32
print(age_final)
print(age_new)

In [ ]:
#We can know about the methods available in the respective python classes by using the dir() method
print (dir(Income))
print (dir(Age))

In [ ]:
#Functions in Python

Python = True

# Print out type of var
print(type(Age))

# Print out length of var
print(len(Income))

# Convert var to an integer: out2
IntPy = int(Python)
IntPy

In [ ]:
# Create lists 
Age1 = [25,65,34,44]
Age2 = [10,50]

# Paste together 
Age_f = Age1 + Age2
print(Age_f)
# Sort in descending order
Age_full = sorted(Age_f)
Age_FULL = sorted(Age_f, reverse = True)

# Print out full_sorted
print(Age_full)
print(Age_FULL)

In [ ]:
help(sorted)

# Methods

In [ ]:
Income.index('Heena')      #Index is a method

In [ ]:
Word = "python"
print(Word.upper())
print(Word.replace("n","n course"))

In [ ]:
Income.replace(50000,45000)      #replace is not a method for num/int/float objects

In [ ]:
Income.index(45000)

In [ ]:
Word.index('t')

In [ ]:
Income.append("Raina")
Income

In [ ]:
Sample = "Beautiful"
print(Sample.count("u"))

In [ ]:
# Print out how often 25000 appears in Income
print(Income.count(25000))

In [ ]:
c=range(11)
print(c)
print (list(c))

# Case Study

### Strings
- Strings as iterables

In [ ]:
w="Two Shōkaku-class aircraft carriers, Shōkaku and Zuikaku, were commissioned by the Imperial Japanese Navy during World War II. They participated in the attack on Pearl Harbor, the Indian Ocean Raid, and the battles of the Coral Sea, the Eastern Solomons, and the Santa Cruz Islands. Their air groups sank two of the four fleet carriers lost by the United States Navy during the war in addition to one elderly British light carrier. Returning to Japan after the Battle of the Coral Sea to repair damage and replace lost aircraft, they missed the Battle of Midway in June 1942. After the catastrophic loss of four carriers during that battle, they formed the bulk of Japan's carrier force for the rest of the war. Shōkaku was sunk by an American submarine during the Battle of the Philippine Sea in June 1944 as the Americans invaded the Mariana Islands, and Zuikaku was sacrificed as part of a decoy force four months later in the Battle of Leyte Gulf, both with heavy loss of life. Historian Mark Peattie called them 'arguably the best aircraft carriers' of the early 1940s."

In [ ]:
print (w)

In [ ]:
# All iterables can be looped through
for c in w[0:20]:
      print (c)

### Looping and conditionals interlude
- Using for loops and if-else statements

In [ ]:
# We can control the flow of execution of code by using conditionals such as if-else
if 2>3:#Notice that a statement is followed by a :
    print ('Is it possible?')
    
else:
    print ('Yay!!')

### Case Study
- Use the assign_txt
- Count number of capital letters
- How many times has the word RSS occured?
- How many times has the word Modi occured?

In [ ]:
assign_txt="Narendra Damodardas Modi, born 17 September 1950) is the 15th and current Prime Minister of India, in office since 26 May 2014.odi, a leader of the Bharatiya Janata Party was the Chief Minister of Gujarat from 2001 to 2014 and is the Member of Parliament from Varanasi. He led the BJP in the 2014 general election, which gave the party a majority in the Lok Sabha, the first for any political party in India since 1984.As the Chief Minister of Gujarat, Modi's economic policies were praised, while his administration was also criticised for failing to significantly improve the human development in the state, and for failing to prevent the 2002 Gujarat riots. A Hindu nationalist and member of the Rashtriya Swayamsevak Sangh, Modi,remains a controversial figure domestically and internationally. Modi was born on 17 September 1950, to a family of grocers in Vadnagar, Mehsana district, Bombay State (present-day Gujarat).Modi's family belonged to the Modh-Ghanchi-Teli (oil-presser) community,hich is categorised as an Other Backward Class by the Indian government.Modi was the third of six children born to Damodardas Mulchand (1915–1989) and Heeraben Modi (b. c. 1920).As a child, Modi helped his father sell tea at the Vadnagar railway station, and later ran a tea stall with his brother near a bus terminus.Modi completed his higher secondary education in Vadnagar in 1967, where a teacher described him as an average student and a keen debater, with an interest in theatre.Modi had an early gift for rhetoric in debates, and this was noted by his teachers and students.Modi preferred playing larger-than-life characters in theatrical productions, which has influenced his political image.At age eight, Modi discovered the Rashtriya Swayamsevak Sangh (RSS), and began attending its local shakhas (training sessions). There, Modi met Lakshmanrao Inamdar, popularly known as Vakil Saheb, who inducted him as an RSS balswayamsevak (junior cadet) and became his political mentor.While Modi was training with the RSS, he also met Vasant Gajendragadkar and Nathalal Jaghda, Bharatiya Jana Sangh leaders who were founding members of the BJP's Gujarat unit in 1980.Engaged while still a child to a local girl, Jashodaben Narendrabhai Modi, Modi rejected the arranged marriage at the same time he graduated from high school.The resulting familial tensions contributed to his decision to leave home in 1967.Modi spent the ensuing two years travelling across Northern and North-eastern India, though few details of where he went have emerged.In interviews, Modi has described visiting Hindu ashrams founded by Swami Vivekananda: the Belur Math near Kolkata, followed by the Advaita Ashrama in Almora and the Ramakrishna mission in Rajkot. Modi remained only a short time at each, since he lacked the required college education."

In [ ]:
print (assign_txt.count('RSS'))

In [ ]:
print (assign_txt.count('Modi'))

In [ ]:
type(assign_txt)

In [ ]:
c=0
for l in assign_txt:           
    if l.isupper():
        c = c+1
      
print (c)

### Case Study
- Use the assign_txt
- Find out the total number of lines in assign_txt (Use the split() method to create a list, assume "." to be EOL)
- Extract the years like 1950 from the text and count their occurence

In [ ]:
assign_txt

In [ ]:
print(dir(assign_txt))

In [ ]:
?assign_txt.split

In [ ]:
len(assign_txt.split("."))

In [ ]:
print(assign_txt.split(" "))

In [ ]:
store = []
years =[]
for w in assign_txt.replace("."," ").replace("("," ").replace(")"," ").replace("-"," ").replace(","," ").split(" "):
            if w.isdigit():
                store.append(w)                
for y in store:
    if len(y)==4:
        years.append(y)

print  (years)

In [ ]:
len(years)

# List Comprehension

In [ ]:
c=[2,3,4,5]

In [ ]:
#Suppose we want to create a list containing the squares in the list c
#Method 1
s=[]
for num in c:
    s.append(num**2)
print(s)

In [ ]:
#Method 2
[x**2 for x in c ] #Very concise way

In [ ]:
Python_Structure = ['List', 'Strings','Dict','Boolean']
range(50)
Data_Science = 'Data is the new oil'
price = 'Rs.20,000'
income = 50000

In [ ]:
[x+2 for x in income ]   #Why error


-Suppose we want to create a list from a and b such that it looks like the following:
- [[1,'a'],[2,'b'],[3,'c'],[4,'d']]

In [ ]:
a=[1,2,3,4]
b=['a','b','c','d']

In [ ]:
[[x,y] for x in a for y in b if a.index(x)==b.index(y)]

In [ ]:
pairs = []
for p in range(0,2):
    for q in range(3,5):
        pairs.append([p,q])
print(pairs)

In [ ]:
pairs2 = [[p,q] for p in range(0,2) for q in range(3,5)]
print(pairs2)

In [ ]:
# zip
a=[1,2,3,4]
b=['a','b','c','d']
zip(a,b)

In [ ]:

print(list(zip(a,b)))

In [ ]:
[list(x) for x in zip(a,b) ]

In [ ]:
x = ['P', 6, 1, 'Q', 5, 'R']           #List Comprehension - Conditions on output expression
strings = [y for y in x if type(y) == str]
print(strings)

In [ ]:
[num**2 for num in range(10) if num%2 ==0]

In [ ]:
[num**2 if num%2 ==0 else 0 for num in range(10)]

In [ ]:
int_list = [-2, 4, 1, 6, -3]
print(x for x in int_list if x > 0)
print(list(x for x in int_list if x > 0))

### Lambdas, map
- We can use lambdas, map to replicate the functionality of list comprehension

In [ ]:
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]
bmi=map(lambda x,y:x/y**2,mass,ht)
bmi_f=filter(lambda x:x<20,bmi)
print (bmi)
print (bmi_f)
print(list(bmi))

In [ ]:
# Define W1 as a lambda function
W1 = (lambda x, y: x * y)

# Call W1: result
result = W1('Yay', 3)

# Print result
print(result)

In [ ]:
nums = [2, 4, 6, 8, 10]
result = map(lambda a: a ** 2, nums)

In [ ]:
# Filter
Cities = ['Delhi', 'Pune', 'Chennai', 'Kolkata']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda m: len(m) > 6, Cities)

type(result)
# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

# Error Handling

In [ ]:
# Define w
def w3(x, y=1):
    """Concatenate  copies of word1 and two
    exclamation marks at the end of the string."""

    # Initialize empty strings: 
    w3 = ''
    s3 = ''

    # Add exception handling with try-except
    try:
        # Concatenate copies of word using *
        w3 = x * y

        # Concatenate '!!' 
        s3 = w3 + '!!'
    except:
        # Print error message
        print("x argument must be a string and y argument must be an integer.")

   
    return s3

# Call s
w3("Yay", "Great")

In [ ]:
# Define w4
def w4(x, y=3):
    """Concatenate copies of word-x and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if w4 < 0:
        raise ValueError('w4 must be greater than 0')

    # Concatenate  copies of word1 using *: 
    z = x * y

    # Concatenate '!!!'
    w = z + '!!!'

    # Return 
    return w

# Call w4
w4("Yay", y=5)

### Tuples
- Tuples as immutable iterables
- Tuple methods

In [ ]:
t=(1,2,3,5)
print(t)

In [ ]:
print(t[0])
print (t[1])

In [ ]:
li6=[1,2,3,4]
li6[0]=0
print (li6)

In [ ]:
t[0]=0

In [ ]:
print (dir(t))

### Dictionaries
- Dictionaries as hashbles
- Extracting keys, values
- Sorting  a dictionary
- Looping through a dictionary

In [ ]:
Income = [30000,40000,25000]
name = ["Umesh", "Ramesh","Nilesh"]
in_r = name.index('Ramesh')
in_r
Income[in_r]

In [ ]:
#Dictionary - key:value pairs

Inc = {"Umesh":30000,"Ramesh":40000,"Nilesh":25000}
print(Inc)

In [ ]:
#dict_name[key]

print(Inc["Umesh"])

In [ ]:
#Print keys in Inc

print(Inc.keys())
print(Inc.values())

In [ ]:
"Nilesh" in Inc

In [ ]:
Inc["Nilesh"] = 35000
print(Inc)

In [ ]:
del(Inc["Nilesh"])

In [ ]:
print(Inc)

In [ ]:
print (dir(Inc))

In [ ]:
print (Inc.items())

In [ ]:
# Dictionary of dictionaries
Income1 = { 'Ramesh': { 'Gender':'male', 'Income':40000},
           'Ana': { 'Gender':'female', 'Income':66000 },
           'Uma': { 'Gender':'female', 'Income':20000 },
           'Umesh': { 'Gender':'male', 'Income':58000 } }


# Print out the Income of Ramesh
print(Income1['Ramesh']['Income'])

# Create sub-dictionary data
income2 = { 'Gender':'female', 'Income':30000 }

# Add data to europe under key 'italy'
Income1['Seema'] = income2

# Print
print(Income1)

In [ ]:
for x in Inc:
    print (x)

In [ ]:
for x in Inc:
    print (x, Inc[x])

In [ ]:
#List Comprehension on Dictionaries

pos_neg = {l:-l for l in range(3)}
print(pos_neg)
type(pos_neg)

### Use the assign_txt
- Find out the occurence of each word in text string (Create a list of each word in the string, loop over this list to create a dictionary of words and their occurences

In [ ]:
d={}
for w in assign_txt.split(" "):
    if w in d:
        d[w]=d[w]+1
    else:
        d[w]=1

In [ ]:
print (d)

### Files
- Reading files
- Manipulating data in file objects
- Writing out files

In [ ]:
# modules interlude
import os
os.chdir('E:\Python for ML')

In [ ]:
f=open('tweets_assignment.txt','r')
fo=f.read()
print(type(f))
print(type(fo))
f.close()

In [ ]:
f=open('write.txt','w')
for dt in fo:
    f.write(dt+'\n')
f.close()

In [ ]:
fo[0:100]

In [ ]:
with open("tweets_assignment.txt","r") as infile:
    dat=infile.read()

In [ ]:
dat[0:100]

### Assignment
- Use the file tweets_assignment.txt
- Count the total number of tweets in the file
- Extract the time stamp from the file and store it in a list

In [ ]:
## Total number of tweets
f=open('tweets_assignment.txt','r')
fo=f.read()
f.close()

In [ ]:
fo[0:100]

In [ ]:
len(fo.split("\n"))

In [ ]:
## Extract the time stamp
for line in fo.split("\n"):
    print(line.split("|")[0])